* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 80%;
    height: 100%;
    background: #dedbdb;
    margin: auto;
    padding: 40px 50px;
}

h1,
h2 {
    text-align: center;
    color: blueviolet;
}

p {
    line-height: 150%;
}

a {
    color: green;
}